<link rel="shortcut icon" type="image/png" href="/disfigure/assets/logo/logo.png">
<style>
	h2 {
		margin-left: 0.4em !important;
	}

	h3 {
		margin: 0;
		border-left: solid lightgray 0.25em;
		padding: 0.5em;
		color: black;
		background: whitesmoke;
		font-size: 1.25em !important;
	}
	
	h3 i, p i {
		font-weight: lighter !important;
	}

	table, tr, th, td {
		border: none !important;
	}

	table {
		border-bottom: solid 1px gray !important;
	}

	thead {
		border-bottom: solid 2px gray !important;
	}	
	
</style>
